<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/google-chart/google-chart.html">
<link rel="import" href="../tasks/task-data.html">

<dom-module id="main-stat-view">
  <template>
    <style>
      .chart-title {
        margin-left: 200px;
        margin-bottom: 0px;
        padding-bottom: 0px;
      }
    </style>

    <task-data id="taskData" location="https://nexfocus.firebaseio.com"
               tasks="{{tasks}}" user="{{user}}"
               rating-per-day="{{ratingPerDay}}"
               rating-per-hour="{{ratingPerHour}}"></task-data>

    <h2 class="chart-title">Average rating per weekday</h2>
    <google-chart options='{"width": 700, "height": 300, "backgroundColor": "transparent", "vAxis": {"minValue": 0, "maxValue": 10}}'
                  data="{{_formatDataForRatingPerDay(ratingPerDay)}}"></google-chart>

    <h2 class="chart-title">Average rating per hour</h2>
    <google-chart options='{"width": 1000, "height": 300, "backgroundColor": "transparent", "vAxis": {"minValue": 0, "maxValue": 10}}'
                  data="{{_formatDataForRatingPerHour(ratingPerHour)}}"></google-chart>

    <h2>Tasks history</h2>
    <template is="dom-repeat" items="{{tasks}}" as="task">
      <p>[<span>{{_formatDate(task.timeCompleted)}}</span>] [[task.name]] ([[task.rating]]/10)</p>
    </template>
  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'main-stat-view',

        properties: {
          user: {
            type: Object,
            notify: true
          }
        },

        completeTask: function(task) {
          this.$.taskData.taskCompleted(task);
        },

        signIn: function() {
          this.$.taskData.signIn();
        },

        _formatDate: function(date) {
          var actualDate = new Date(date);
          var day = this._formatNumber(actualDate.getDate());
          var month = this._formatNumber(actualDate.getMonth() + 1); //months are zero-based
          var year = this._formatNumber(actualDate.getFullYear());
          return day + '/' + month + '/' + year;
        },

        _formatNumber: function(number) {
          if (number < 10) {
            return '0' + number;
          } else {
            return number;
          }
        },

        _formatDataForRatingPerDay: function(ratingPerDay) {
          return [['Day', 'Rating'],
                  ['Sunday', ratingPerDay.sunday.rating],
                  ['Monday', ratingPerDay.monday.rating],
                  ['Tuesday', ratingPerDay.tuesday.rating],
                  ['Wednesday', ratingPerDay.wednesday.rating],
                  ['Thursday', ratingPerDay.thursday.rating],
                  ['Friday', ratingPerDay.friday.rating],
                  ['Saturday', ratingPerDay.saturday.rating]];
        },

        _formatDataForRatingPerHour: function(ratingPerHour) {
          var data = [['Hour', 'Rating']];
          for (var i = 0; i < 24; ++i) {
            var legend = (i === 0) ? '24h' : i + 'h';
            var value = ratingPerHour[i].rating;
            data.push([legend, value]);
          }
          return data;
        }
      });
    })();
  </script>
</dom-module>
