<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../countdown-timer/countdown-timer.html">
<link rel="import" href="../users/user-preference.html">

<dom-module id="main-app-view">
  <template>
    <style include="shared-styles">

    </style>

    <user-preference user-preferences="{{preferences}}"></user-preference>

    <countdown-timer id="timer" minutes="[[preferences.taskTime]]" seconds="5"
                     active="{{active}}" milliseconds-remaining="{{timeRemaining}}"></countdown-timer>

    <paper-material elevation="2">
      <paper-input label="Task"></paper-input>

      <div>{{_formatTime(timeRemaining)}}</div>

      <template is="dom-if" if="{{!active}}">
        <paper-button raised on-tap="startTask">Start</paper-button>
      </template>

      <template is="dom-if" if="{{active}}">
        <paper-button raised on-tap="pauseTask">Pause</paper-button>
      </template>

      <template is="dom-if" if="{{isOnBreak}}">
        <h2 style="color: red">BREAK TIME</h2> <!-- temporary -->
      </template>
    </paper-material>

    <paper-dialog id="taskCompletedDialog" modal>
      <h2>Task completed</h2>
      <div>How would you rate your performance?</div>

      <div class="buttons">
        <paper-button on-tap="redoTask">Redo</paper-button>
        <paper-button on-tap="takeABreak" autofocus>Take a break</paper-button>
      </div>
    </paper-dialog>
  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'main-app-view',

        listeners: {
          'countdown-completed': 'taskCompleted'
        },

        properties: {
          preferences: Object,

          isOnBreak: {
            type: Boolean,
            notify: true,
            value: false
          }
        },

        startTask: function() {
          this.$.timer.start();
          this.isOnBreak = false;
        },

        pauseTask: function() {
          this.$.timer.stop();
        },

        taskCompleted: function() {
          this.$.taskCompletedDialog.open();
        },

        redoTask: function() {
          this.$.taskCompletedDialog.close();
          this._resetTimerForATask();
          this.startTask();
        },

        takeABreak: function() {
          this.isOnBreak = true;
          this._resetTimerForABreak();
          this.$.timer.start();
          this.$.taskCompletedDialog.close();
        },

        _resetTimerForATask: function() {
          this.$.timer.minutes = this.preferences.taskTime;
          this.$.timer.seconds = 7;
          this.$.timer.reset();
        },

        _resetTimerForABreak: function() {
          this.$.timer.minutes = this.preferences.breakTime;
          this.$.timer.seconds = 8;
          this.$.timer.reset();
        },

        _formatTime: function(millisRemaining) {
          var minutes = (millisRemaining/1000/60) << 0;
          var seconds = (millisRemaining/1000) % 60;
          return this._formatNumber(minutes) + ':' + this._formatNumber(seconds);
        },

        _formatNumber: function(number) {
          if (number < 10) {
            return '0' + number;
          } else {
            return number;
          }
        }
      });
    })();
  </script>
</dom-module>
