<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../countdown-timer/countdown-timer.html">
<link rel="import" href="../users/user-preference.html">

<dom-module id="main-app-view">
  <template>
    <style include="shared-styles">
      :host {
        display: @apply(--layout-horizontal);
        align-items: center;
        justify-content: center;
      }

      .timer-container {
        display: @apply(--layout-vertical);
        border: 2px solid var(--default-primary-color);
        border-radius: 50%;
        width: 300px;
        height: 300px;
        align-items: center;
        justify-content: center;
      }

      .timer-container .time {
        font-size: 48px;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      paper-slider {
        cursor: pointer;
      }
    </style>

    <user-preference user-preferences="{{preferences}}"></user-preference>

    <countdown-timer id="timer" minutes="{{preferences.taskTime}}"
                     active="{{active}}" milliseconds-remaining="{{timeRemaining}}"></countdown-timer>

    <div class="timer-container">
      <paper-input label="Task" value="{{taskDetail}}" disabled="{{active}}"></paper-input>
      <div class="time">{{_formatTime(timeRemaining)}}</div>

      <template is="dom-if" if="{{!active}}">
        <paper-fab icon="av:play-arrow" on-tap="startTask" disabled="{{!hasATask(taskDetail)}}"></paper-fab>
      </template>

      <template is="dom-if" if="{{active}}">
        <paper-fab icon="av:pause" on-tap="pauseTask"></paper-fab>
      </template>
    </div>

    <paper-dialog id="taskCompletedDialog" modal>
      <h2>Task completed</h2>
      <div>
        How would you rate your performance?
        <paper-slider id="taskRating" min="0" max="10" steps="1" value="5" pin></paper-slider>
      </div>


      <div class="buttons">
        <paper-button on-tap="cancel" dialog-dismiss>Cancel</paper-button>
        <paper-button on-tap="redoTask" dialog-dismiss>Redo</paper-button>
        <paper-button on-tap="takeABreak" dialog-dismiss autofocus>Take a break</paper-button>
      </div>
    </paper-dialog>
  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'main-app-view',

        listeners: {
          'countdown-completed': 'taskCompleted'
        },

        properties: {
          preferences: Object,
          taskDetail: String,

          isOnBreak: {
            type: Boolean,
            notify: true,
            value: false
          },

          _progress: {
            computed: '_computeTaskProgress(timeRemaining)'
          }
        },

        hasATask: function(task) {
          return task && task.length > 0;
        },

        startTask: function() {
          this.$.timer.start();
          this.isOnBreak = false;
        },

        pauseTask: function() {
          this.$.timer.stop();
        },

        taskCompleted: function() {
          this.$.taskCompletedDialog.open();
        },

        cancel: function() {
          this._resetTimerForATask();
          this._sendTask();
        },

        redoTask: function() {
          this._resetTimerForATask();
          this.startTask();
          this._sendTask();
        },

        takeABreak: function() {
          this.isOnBreak = true;
          this._resetTimerForABreak();
          this.$.timer.start();
          this._sendTask();
        },

        _sendTask: function() {
          var completedTask = {
            rating: this.$.taskRating.value,
            name: this.taskDetail
          };
          this.fire('task-completed', {task: completedTask});
        },

        _resetTimerForATask: function() {
          this.$.timer.minutes = this.preferences.taskTime;
          this.$.timer.seconds = 0;
          this.$.timer.reset();
        },

        _resetTimerForABreak: function() {
          this.$.timer.minutes = this.preferences.breakTime;
          this.$.timer.seconds = 0;
          this.$.timer.reset();
        },

        _computeTaskProgress: function(millisRemaining) {
          var totalMillis = this.preferences.taskTime * 60 * 1000;
          var progression = 100 - ((millisRemaining / totalMillis) * 100);
          return Math.floor(progression);
        },

        _formatTime: function(millisRemaining) {
          var minutes = Math.floor((millisRemaining / 1000 / 60));
          var seconds = (millisRemaining / 1000) % 60;
          return this._formatNumber(minutes) + ':' + this._formatNumber(seconds);
        },

        _formatNumber: function(number) {
          if (number < 10) {
            return '0' + number;
          } else {
            return number;
          }
        }
      });
    })();
  </script>
</dom-module>
